.places__image {
    object-fit: cover;
    display: block;
    max-width: 460px;
    max-height: 460px;
}

@media only screen and (max-width: 1024px) {
    .places__image {
        width: calc(100% - 8px);
    }
}

@media only screen and (max-width: 768px) {
    .places__image {
        width: calc(100% - 6px);
    }
}

@media only screen and (max-width: 425px) {
    .places__image {
        width: 100%;
    }
}