.footer__link {
    color: #fff;
    text-decoration: none;
    opacity: 1;
    transition: opacity .25s ease-in-out;
}

.footer__link:hover {
    opacity: .8;
}

.footer__link:visited {
    color: #ffffff;
}

@media screen and (max-width: 425px) {
    .footer__link {
        margin-bottom: 32px;
    }
}

.footer__link:last-child {
    margin-bottom: 0px;
}