@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_active/header__lang-link_active.css);
@import url(./__logo/header__logo.css);
@import url(./__lang-links/header__lang-links.css);

.header {
    width: calc(100% - 298px);
    margin: 0 auto 0;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    padding: 34px 0 0;
}

@media screen and (max-width: 1024px) {
    .header {
        width: calc(100% - 96px);
    }
}

@media screen and (max-width: 768px) {
    .header {
        width: calc(100% - 48px);
    }
}

@media screen and (max-width: 425px) {
    .header {
        width: calc(100% - 32px);
    }
}